[Unit]
Description=Mirage VPN server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/mirage
ExecStart=/usr/local/bin/mirage server -c /etc/mirage/server.json
ExecStartPost=/etc/mirage/server-nat.sh up
ExecStopPost=/etc/mirage/server-nat.sh down
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
